_book/
_site/
site_libs/

/.quarto/

*_files/

/.luarc.json
presentations/acfas2023/autoequipement-REL-Fuhrman-2023.aux
presentations/acfas2023/autoequipement-REL-Fuhrman-2023.log
presentations/acfas2023/autoequipement-REL-Fuhrman-2023.tex
